

.nav-list {
    display: flex;  /*makes it horizontal*/
    padding: 0;
    list-style: none; /*removes bullets*/
    gap: 20px;
}

@media (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
    }
}

.nav-card {
    display: inline-block;
    padding: 20px 40px;
    text-decoration: none;
    background: #425180;
    color: white;
    border-radius: 12px;
    transition: transform 0.2s ease;
}

.nav-card:hover {
    transform: translateY(-4px);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

